<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67a798">  <td>22/05/27 17:07:52</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LocaliserNonPassant.beforeTest()[pri:0, instance:LOCALISER.LocaliserNonPassant@54c562f7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d5878c">  <td>22/05/27 17:07:52</td>   <td>4</td> <td>&nbsp;</td><td title="&gt;&gt;LocaliserPassant.beforeTest()[pri:0, instance:LOCALISER.LocaliserPassant@63a65a25]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>22/05/27 17:07:52</td>   <td>4</td> <td>&nbsp;</td><td title="&gt;&gt;RechercherNonPassant.beforeTest()[pri:0, instance:RECHERCHER.RechercherNonPassant@6b26e945]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f0f1be">  <td>22/05/27 17:07:52</td>   <td>57</td> <td>&nbsp;</td><td title="&gt;&gt;RechercherPassant.beforeTest()[pri:0, instance:RECHERCHER.RechercherPassant@318ba8c8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>22/05/27 17:07:52</td>   <td>79</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RechercherNonPassant.f()[pri:0, instance:RECHERCHER.RechercherNonPassant@6b26e945]">f</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d5878c">  <td>22/05/27 17:07:52</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocaliserPassant.f()[pri:0, instance:LOCALISER.LocaliserPassant@63a65a25]">f</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>22/05/27 17:07:52</td>   <td>90</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocaliserNonPassant.f()[pri:0, instance:LOCALISER.LocaliserNonPassant@54c562f7]">f</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f0f1be">  <td>22/05/27 17:07:52</td>   <td>93</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RechercherPassant.f()[pri:0, instance:RECHERCHER.RechercherPassant@318ba8c8]">f</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>22/05/27 17:07:52</td>   <td>97</td> <td>&nbsp;</td><td title="&lt;&lt;LocaliserNonPassant.afterTest()[pri:0, instance:LOCALISER.LocaliserNonPassant@54c562f7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d5878c">  <td>22/05/27 17:07:52</td>   <td>98</td> <td>&nbsp;</td><td title="&lt;&lt;LocaliserPassant.afterTest()[pri:0, instance:LOCALISER.LocaliserPassant@63a65a25]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>22/05/27 17:07:52</td>   <td>99</td> <td>&nbsp;</td><td title="&lt;&lt;RechercherNonPassant.afterTest()[pri:0, instance:RECHERCHER.RechercherNonPassant@6b26e945]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="f0f1be">  <td>22/05/27 17:07:52</td>   <td>100</td> <td>&nbsp;</td><td title="&lt;&lt;RechercherPassant.afterTest()[pri:0, instance:RECHERCHER.RechercherPassant@318ba8c8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
