<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee998b">  <td>22/05/27 17:11:41</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;RechercherNonPassant.afterTest()[pri:0, instance:RECHERCHER.RechercherNonPassant@25d250c6]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d5878c">  <td>22/05/27 17:11:41</td>   <td>164</td> <td>&nbsp;</td><td title="&lt;&lt;RechercherPassant.afterTest()[pri:0, instance:RECHERCHER.RechercherPassant@4df50bcc]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>22/05/27 17:11:37</td>   <td>-3923</td> <td>&nbsp;</td><td title="&gt;&gt;RechercherNonPassant.beforeTest()[pri:0, instance:RECHERCHER.RechercherNonPassant@25d250c6]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d5878c">  <td>22/05/27 17:11:39</td>   <td>-1819</td> <td>&nbsp;</td><td title="&gt;&gt;RechercherPassant.beforeTest()[pri:0, instance:RECHERCHER.RechercherPassant@4df50bcc]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>22/05/27 17:11:40</td>   <td>-857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RechercherNonPassant.f()[pri:0, instance:RECHERCHER.RechercherNonPassant@25d250c6]">f</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d5878c">  <td>22/05/27 17:11:41</td>   <td>-409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RechercherPassant.f()[pri:0, instance:RECHERCHER.RechercherPassant@4df50bcc]">f</td> 
  <td>main@1510467688</td>   <td></td> </tr>
</table>
